@import url('https://fonts.googleapis.com/css?family=Fira+Sans+Extra+Condensed|Vollkorn');

html, body {
  font-family: 'Vollkorn', serif;
  font-size: 20px;
  line-height: 1.45;
}

@media (max-width: 576px) {
  html, body {
    font-size: 16px;
  }
}

code, pre, kbd, samp, var {
  font-size: .8rem;
	border: none;
}

.title, h1, h2, h3, h4, h5, h6 {
  font-family: 'Fira Sans Extra Condensed', sans-serif;
}

h1 {
  font-size: 1.5rem;
}

h2 {
  font-size: 1.3rem;
}

h3 {
  font-size: 1.1rem;
}

blockquote {
  font-size: 1rem;
	font-style: normal
}

.desc {
  font-style: normal;
}

.entry-content a {
  color: #992900;
  border-bottom: none;
}

.entry-content a:hover {
  background-color: #ffdacc;
}

a img:hover {
  background-color: none;
}

.list .item time {
  font-size: 0.95rem;
}

.list .item .meta {
  flex: 0 0 6.8em;
}